@media all and (max-width: 1300px){

	.container {
		width: 100%
	}

	.list-member {
	width: 50%;
	flex-direction: column;
	padding-right: 0;
	padding-left: 0;
	}

	.member p {
		padding-right: 34%;
		padding-left: 34%;
	}

	.members-wrapper {
	height: 850px;
	}

}

@media all and (max-width: 1000px){

	.top-wrapper h1 {
		font-size: 40px;
	}

	.top-wrapper p {
		font-size: 18px;
	}

	.list-member {
	width: 50%;
	flex-direction: column;
	}

	.member p {
	padding-right: 29%;
	padding-left: 29%;
	}

	.text-wrapper p {
	line-height: 20px;
	font-size: 16px;
	}

}

@media all and (max-width: 722px){
	.member p {
	padding-right: 20%;
	padding-left: 20%;
	}
}

@media all and (max-width: 685px){

	.member p {
	padding-right: 18%;
	padding-left: 18%;
	}

}

@media all and (max-width: 630px){

	.top-wrapper h1 {
		font-size: 32px;
		padding-top: 130px;
	}

	.header-right ul {
		display: none;
	}

	.icon-menu {
		display: inline-block;
		margin-top: 15px;
	}

	.top-wrapper p {
		font-size: 16px;
	}

	.btn {
		width: 100%;
	}

	.members-wrapper {
		height: 1260px;
	}

	.list-member {
	width: 100%;
	}

	.member p {
	padding-right: 33%;
	padding-left: 33%;
	}

	.footer-wrapper {
		grid-template-columns: repeat(1, auto);
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.footer-center {
		margin-bottom: 10px;
	}

	.footer-right {
		text-align: left;
	}

}

@media all and (max-width: 400px){

	.btn {
		font-size: 15px;
		padding: 5px 5px;
	}

	.member p {
	padding-right: 23%;
	padding-left: 23%;
	}

}

@media all and (max-width: 320px){
	.top-wrapper {
		height: 680px;
	}	
}