html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div{
  margin: 0;
  padding: 0;
}

body {
	font-family: sans-serif;
	margin: 0px;
}

a {
	text-decoration: none;
}

a:hover {
	transition: all 0.8s;
}

header {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	height: 70px;
	position: fixed;
	z-index: 10;
}

* {
	box-sizing: border-box;
}

.container {
	width: 1300px;
	margin: 0px auto;
	padding: 0px 15px;
}

.header-left {
	float: left;
}

.header-right {
	float: right;
}

.header-right li {
	display: inline-block;
	font-size: 1.2em;
	list-style-type: none;
}

.header-right a {
	color: #FFFFFF;
	display: block;
	line-height: 70px;
	padding: 0px 15px;
}

.header-right a:hover {
	color: #FF8C00;
	background-color: rgba(255, 255, 255, 0.5);
}

.icon-menu {
	cursor: pointer;
	float: right;
	display: none;
}

.bar1, .bar2, .bar3 {
	width: 33px;
	height: 5px;
	background-color: #FFF;
	margin: 6px 0px;
}

.top-wrapper {
	background-image: url("img/cover.jpg");
	background-size: cover;
	height: 650px;
}

.top-wrapper h1 {
	font-size: 48px;
	color: rgba(255, 255, 255, 0.9);
	padding: 180px 0px 10px 0px;
}

.top-wrapper p {
	color: rgba(255, 255, 255, 0.6);
	padding: 10px 0px 10px 0px;
	font-size: 20px
}

.btn-wrapper {
	margin: 50px 0px;
	text-align: center;
}

.btn {
	float: left;
	padding: 10px 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: #FF8C00;
	opacity: 0.8;
	border-radius: 20px;
	font-weight: bold;
}

.register, .members, .project {
	color: #FFFFFF;
}

.btn-wrapper a:hover {
	opacity: 1.0;
}

.text-wrapper {
	text-align: center;
}

.text-wrapper h1 {
	margin: 50px 0px 20px 0px;
}

.text-wrapper p {
	margin: 10px 0px;
	line-height: 28px;
	font-size: 20px;
}

@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

.heading-text {
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(.5, 0, 10, 10);
  -webkit-animation-duration: 1s;
}

.members-wrapper {
	background-color: #f7f7f7;
	height: 450px;
	margin-top: 50px;
	padding-top: 50px;
}

.heading-member {
	text-align: center;
	margin-bottom: 50px;
}

.member {
	position: relative;
	text-align: center;
	color: #fff;
}

.member p {
	position: absolute;
	top: 38%;
	width: 100%;
	font-size: 23px;
}

.list-member {
	float: left;
	width: 20%;
	padding-right: 2%;
	padding-left: 2%;
	display: flex;
	flex-wrap: wrap;
}

.message-wrapper {
	text-align: center;
	padding-top: 50px;
}

.partners {
	margin: 20px 0px 20px 0px;
}

.btn2 {
	background-color: #FF8C00;
	padding: 10px;
	border-radius: 20px;
	color: #fff;
	opacity: 0.9;
}

.btn2:hover {
	opacity: 1;
}

.preview {
	box-shadow: 0 7px #A0522D;
	cursor: pointer;
}

.preview:active{
	top: 7px;
	box-shadow: none;
	position: relative;
}

.content-wrapper {
	margin-bottom: 50px;
}

footer {
	background-color: rgba(0, 0, 0, 0.8);
}

.footer-wrapper {
	display: grid;
	grid-template-columns: repeat(3, auto);
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer-left img {
	width: 120px;
}

.footer-right p {
	color: #FF8C00;
}

.footer-center, .footer-right {
	color: white;
	opacity: 0.8;
}

.footer-right {
	text-align: right;
}